interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://yakeey.com/fr-ma/acheter-appartement-casablanca-derb-omar-FA061603
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"fr-ma\" dir=\"ltr\" class=\"__variable_54d168\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"https://cdn.yakeey.com/_next/static/media/0f6f2bcea8e14b6d-s.p.woff2\"
        as=\"font\" crossorigin=\"\" type=\"font/woff2\"/><link rel=\"preload\" as=\"image\"
        href=\"https://www.facebook.com/tr?id=589185003058320&amp;ev=PageView&amp;noscript=1\"/><link
        rel=\"preload\" as=\"image\" href=\"https://res.cloudinary.com/yakeey-prod/image/upload/f_auto,w_320/prod/fi061603/image_980771678.jpg\"/><link
        rel=\"preload\" as=\"image\" href=\"https://res.cloudinary.com/yakeey-prod/image/upload/f_auto,w_720/prod/fi061603/image_138877596.jpg\"/><link
        rel=\"preload\" as=\"image\" href=\"https://res.cloudinar[...]
