interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://yakeey.com/fr-ma/achat/appartement/maroc?page=1
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"fr-ma\" dir=\"ltr\" class=\"__variable_54d168\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"https://cdn.yakeey.com/_next/static/media/0f6f2bcea8e14b6d-s.p.woff2\"
        as=\"font\" crossorigin=\"\" type=\"font/woff2\"/><link rel=\"preload\" as=\"image\"
        href=\"https://www.facebook.com/tr?id=589185003058320&amp;ev=PageView&amp;noscript=1\"/><link
        rel=\"stylesheet\" href=\"https://cdn.yakeey.com/_next/static/css/0ed9ab33d6935a23.css\"
        data-precedence=\"next\"/><link rel=\"stylesheet\" href=\"https://cdn.yakeey.com/_next/static/css/0acdefde68e01199.css\"
        data-precedence=\"next\"/><link rel=\"stylesheet\" href=\"https://cdn.yakeey.com/_next/static/css/012acca9649fd889.css\"
        data-precedence=\"next\"/><link rel=\"stylesheet\" href=\"https://cdn.yakeey.com/_next/static/css/d98e78e173fd6605.css\"
        data-precedence=\"next\"/><link rel=\"preload\" as=\"script\" fetchPriority=\"low\"
        href=\"https://cdn.yakeey.com/_next/static/chunks/webpack-fae813278b0d585d.js\"/><script
        src=\"https://cdn.yakeey.com/_next/static/chunks/fd9d1056-40ca562a19a029f6.js\"
        async=\"\"></script><script src=\"https://cdn.yakeey.com/_next/static/chunks/2472-7421ca94876720d5.js\"
        async=\"\"></script><script src=\"https://cdn.yakeey.com/_next/static/chunks/main-app-64c7129edd91703b.js\"
        async=\"\"></script><script src=\"https://cdn.yakeey.com/_next/static/chunks/13b76428-6b30cc43e742e4a7.js\"
        async=\"\"></script><script src=\"https://cdn.yakeey.com/_next/static/chunks/4b1a69f1-91646ad8697a8236.js\"
        async=\"\"></script><script src=\"https://cdn.yakeey.com/_next/stati[...]
