interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.avito.ma/fr/maroc/appartements-%C3%A0_vendre?o=1360
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" translate=\"no\" class=\"notranslate\"><head><meta
        charSet=\"utf-8\" /><meta name=\"viewport\" content=\"width=device-width\"
        /><title>Appartements \xE0 vendre - Avito Maroc |  - Page 1360</title><meta
        name=\"title\" content=\"Appartements \xE0 vendre - Avito Maroc |  - Page
        1360\" /><meta property=\"og:title\" content=\"Appartements \xE0 vendre -
        Avito Maroc |  - Page 1360\" /><meta name=\"description\" content=\"D\xE9couvrez
        47572 annonces pour appartements \xE0 vendre au Maroc, sur Avito.ma \u2705
        La plateforme num\xE9ro 1 de vente et d&#x27;achat des biens et services\"
        /><meta property=\"og:description\" content=\"D\xE9couvrez 47572 annonces
        pour appartements \xE0 vendre au Maroc, sur Avito.ma \u2705 La plateforme
        num\xE9ro 1 de vente et d&#x27;achat des biens et services\" /><meta name=\"robots\"
        content=\"index, follow\" /><meta name=\"googlebot\" content=\"noarchive\"
        /><meta property=\"og:url\" content=\"https://www.avito.ma/fr/maroc/appartements-%C3%A0_vendre?o=1360\"
        /><meta property=\"og:site_name\" content=\"Avito Maroc\" /><meta property=\"og:image\"
        content=\"/phoenix-assets/imgs/layout/logo.png\" /><link rel=\"canonical\"
        href=\"https://www.avito.ma/fr/maroc/appartements-%C3%A0_vendre?o=1360\" /><link
        rel=\"prev\" href=\"/fr/maroc/appartements-\xE0_vendre?o=1359\" /><meta name=\"next-head-count\"
        content=\"14\" /><meta charSet=\"utf-8\" /><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, shrink-to-fit=no\" /><meta http-equiv=\"x-ua-compatible\"
        content=\"ie=edge\" /><meta http-equiv=\"x-dns-prefetch-control\" content=\"on\"
        /><[...]
