interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.avito.ma/fr/sakar/appartements/appartement_avec_jardin__55576063.htm
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" translate=\"no\" class=\"notranslate\"><head><meta
        charSet=\"utf-8\" /><meta name=\"viewport\" content=\"width=device-width\"
        /><title>appartement avec jardin  | Appartements \xE0 Marrakech | Avito.ma</title><meta
        name=\"title\" content=\"appartement avec jardin  | Appartements \xE0 Marrakech
        | Avito.ma\" /><meta property=\"og:title\" content=\"appartement avec jardin
        \ | Appartements \xE0 Marrakech | Avito.ma\" /><meta name=\"description\"
        content=\"je met en vente un appartement rez de jardin avec jardin priv\xE9
        \xE9quip\xE9 d&#x27;une pis... -  announce Appartements au Maroc au meilleur
        prix sur Avito, plat...\" /><meta property=\"og:description\" content=\"je
        met en vente un appartement rez de jardin avec jardin priv\xE9 \xE9quip\xE9
        d&#x27;une pis... -  announce Appartements au Maroc au meilleur prix sur Avito,
        plat...\" /><link rel=\"canonical\" href=\"https://www.avito.ma/fr/sakar/appartements/appartement_avec_jardin__55576063.htm\"
        /><meta property=\"og:type\" content=\"product\" /><meta property=\"og:site_name\"
        content=\"Avito Maroc\" /><meta property=\"og:url\" content=\"https://www.avito.ma/fr/sakar/appartements/appartement_avec_jardin__55576063.htm\"
        /><meta property=\"og:locale\" content=\"fr-MA\" /><meta property=\"og:locale:alternate\"
        content=\"ar-MA\" /><link rel=\"alternate\[...]
